calculator-lab3/mycalculatorServer/WebContent/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculatorServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculatorServer" xmlns:intf="http://calculatorServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculatorServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="Calculator">
    <complexType>
     <sequence>
      <element name="operand1" type="xsd:string"/>
      <element name="operand2" type="xsd:string"/>
      <element name="Operation" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="CalculatorResponse">
    <complexType>
     <sequence>
      <element name="CalculatorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="CalculatorResponse">

      <wsdl:part element="impl:CalculatorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CalculatorRequest">

      <wsdl:part element="impl:Calculator" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="calculator">

      <wsdl:operation name="Calculator">

         <wsdl:input message="impl:CalculatorRequest" name="CalculatorRequest">

       </wsdl:input>

         <wsdl:output message="impl:CalculatorResponse" name="CalculatorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculatorSoapBinding" type="impl:calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Calculator">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CalculatorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="CalculatorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calculatorService">

      <wsdl:port binding="impl:calculatorSoapBinding" name="calculator">

         <wsdlsoap:address location="http://localhost:8080/calculatorServer/services/calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
